<div class="dashboard_bg">
  <app-header></app-header>
  <div class="container-fluid pt64">
    <div class="row">
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 collapse show d-md-flex bg-dark px-0 min-vh-100 nav" id="sidebar">
        <app-left-panel class="w-100"></app-left-panel>
      </div>

      <div class="contentpanel_bg col-9 pt-3">
        <form [formGroup]="subscriptionDetailsForm" (ngSubmit)="OnSubmit()">

          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="formgroup grp grp_det">
                  <label>DealerGroup</label>
                  <input type="text" class="form-control" formControlName="dealergroup" [(ngModel)]="dealername" [readonly]="true">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="formgroup grp grp_det">
                  <label>DealerShip</label>

                  <input type="text" class="form-control" formControlName="dealership" [(ngModel)]="dealershipname" [readonly]="true">
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <label>Subscription Plan</label>
                <select class="form-control" formControlName="subscriptionplan" [(ngModel)]="plan">
                  <option value="">Select SubscriptionPlan</option>
                  <option *ngFor="let p of plans" [value]="p.sp_id">{{p.sp_name}}</option>
                </select>
                <div *ngIf="!subscriptionDetailsForm.controls.subscriptionplan.valid && (subscriptionDetailsForm.controls.subscriptionplan.dirty||submitted)"
                  class="error">
                  <div class="text-danger" *ngIf="subscriptionDetailsForm.controls.subscriptionplan.errors.required">subscriptionplan is required</div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="formgroup grp grp_det">
                  <label>Plan Details</label>

                  <textarea class="form-control" maxlength="500" formControlName="plandetails" [(ngModel)]="plandetails" autofocus rows="5"
                    cols="10">                             
                  </textarea>
                  <div *ngIf="!subscriptionDetailsForm.controls.plandetails.valid && (subscriptionDetailsForm.controls.plandetails.dirty||submitted)"
                    class="error">
                    <div class="text-danger" *ngIf="subscriptionDetailsForm.controls.plandetails.errors.required">plandetails is required</div>
                  </div>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">


                  <!-- <label class="form-check-label">Status:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" formControlName="status" [(ngModel)]="subStatus" />
                  <div *ngIf="!subscriptionDetailsForm.controls.status.valid && (subscriptionDetailsForm.controls.status.dirty||submitted)"
                    class="error">
                    <div class="text-danger" *ngIf="subscriptionDetailsForm.controls.status.errors.required">status is required</div>
                  </div> -->
                  <label for="status">Status: &nbsp;
                    <input type="radio" value="Y" name="status" [(ngModel)]="subStatus" formControlName="status">&nbsp;
                    <label class="statusActive" for="status">Active</label>&nbsp;
                    <input type="radio" value="N" name="status" [(ngModel)]="subStatus" formControlName="status">&nbsp;
                    <label class="statusInactive" for="status">In-Active</label>
                  </label>

                </div>

              </div>
            </div>

          </div>


          <!-- <div class="row" style="padding-bottom: 4%;">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1" style="padding-top: 2%">
              <button type="submit" class="button">Save</button>
            </div>
            <div class="col-sm-1" style="padding-top: 2%">
              <a [routerLink]="['/subscriptionGroup']" style="padding-left: 47px;"><button class="button"  >cancel</button></a>

            </div>
          </div> -->
          <div class="col-lg-12 pt-lg-5 pl-lg-4">
            <div class="row">
              <div class="col-lg-2">
                <button type="submit" class="savebutton">Save</button>
              </div>
              <div class="col-lg-2">
                <button type="button" class="savebutton" (click)="backgrid();">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>