.brand_style {
    font-size: 14px;
    padding-left: 25px;
    color: gray;
    font: 400 14px/20px Roboto-Regular;
    text-decoration: underline;
    margin: 5px;
    padding: 5px;
}

.brand_style>.active {
    color: #577f63;
    cursor: none;
    font: 400 14px/20px Roboto-Regular;
}

.scrolldash {
    width: 100%;
    height: 350px;
    .mCSB_scrollTools .mCSB_draggerContainer {
        left: -880px;
    }
    cursor: pointer;
}

#scroll {
    height: auto;
    overflow-y: auto;
    position: relative;
    // margin-left: 20px;
}

.active {
    color: #577F63;
}

.dheader {
    font-size: 22px
}
#scroll::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  #scroll::-webkit-scrollbar-track {
    background:#577f63;        /* color of the tracking area */
  }
  #scroll::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #577f63;  /* creates padding around scroll thumb */
  }


