<div class="dashboard_bg">
  <app-header></app-header>
  <div class="container-fluid pt64">
  <div class="row">
  <div class="col-2 collapse show d-md-flex bg-dark pl-0 min-vh-100 sidenav" id="sidebar">
  <app-left-panel></app-left-panel>
  </div>
  
  
  <div class="content_body">
  <table style="width: 1000px; float: left;">
  <tbody>
  <tr>
  <td></td>
  <td style="vertical-align: top;">
  <table class="gridheader">
  <thead>
  <tr>
  <th style="width: 462px; font-weight: bold;">
  <div style="float: left">
  <div class="getuser">
  <label class="getuserlabel">Roles</label>
  </div>
  </div>
  <!-- <div class="getrolediv">
  <label class="getrolelbl">Brands</label>
  </div> -->
  </th>
  <th style="width: 500px; text-align: center">
  <div style="float: left">
  </div>
  </th>
  <th style="width: 30px; text-align: center" colspan="2">
  <div>
  <a [routerLink]="['/rolesAdd']" routerLinkActive="router-link-active" style="padding-left: 47px;cursor: auto;"><img
  src="assets/Images/addvvsml.png"></a>
  </div>
  </th>
  </tr>
  </thead>
  </table>
  <div style="margin: 5px 12px;">
  <table class="dashboard">
  <thead>
  <tr class="colHeader">
  <th style="width:6%;"></th>
  <!-- <th align="center" scope="col" style="width: 150px;">
  Id
  </th> -->
  <th align="center" scope="col" style="width: 70px;text-align: center;">
  Name
  </th>
  <th align="center" scope="col" style="width: 100px;text-align: center;">
  Admin
  </th>
    <th align="center" scope="col" style="width: 100px;text-align: center;">
  Frontend
  </th>
  <th align="center" scope="col" style="width: 100px;text-align: center;">
    Status
    </th>
  
  
  <th scope="col" style="width: 37px;">&nbsp;</th>
  
  </tr>
  </thead>
  </table>
  <div class="col-md-8" style="padding-left: 0px;">
  <div class="contentss">
  <table class="dashboard">
  <tbody>
  <tr *ngFor="let list of rolesArray">
  <td style="width: 120px;text-align: center;">
  <div><span style="font-size: 12px;">{{list.Role_Name}}</span>
  </div>
  </td>
  <td style="width: 100px;">
  <div style="text-align: center;"><span
  style="font-size: 12px;">{{list.Role_Admin}}</span>
  </div>
  </td>

  <td style="width: 100px;">
    <div style="text-align: center;"><span
    style="font-size: 12px;">{{list.Role_Front}}</span>
    </div>
    </td>
    <td style="width: 100px;">
      <div style="text-align: center;"><span
      style="font-size: 12px;">{{list.Role_Status}}</span>
      </div>
      </td>
  <td align ="center" style="width:37px;">
  <a (click)="Action(list)"><img
  src="assets/Images/edit_icon.png"></a>
  </td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
  </div>
  
  
  
  </div>
  </div>
  </div>