 

.dashboard{
  border-collapse: collapse;
  font-size: 12px;
  color: #333333;
  width: 1000px;
  display: table;
}


.dashboard th{
  background-color: #323840;
  font-weight: normal;
  height: 20px;
  padding: 10px 10px;
  color: #fff;
  text-transform: uppercase;
}
.dashboard tbody tr:nth-child(odd){
  background: #e6eff6;
}

.dashboard tbody tr:nth-child(even){
  background: #eeeeee;
}
.dashboard td{
  height: auto;
  padding: 3px 10px;
  border: 1px solid #ccc ;
}
.contentss {
  width: 1000px;
  height:400px;
  overflow-x: hidden;
}

.contentss::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #aaa;
}


.contentss::-webkit-scrollbar-thumb {
  width: 10px;
  height: 8px;
  background-color: #577f63;
}

.gridheader{
  width: 1000px;
  margin-left: 12px;
  border-collapse: collapse;
  font-size: 12px;
  text-align: left;
  background: #577f63;
}

.gridheader th{
  padding: 5px 10px;
}

.getuser{
  padding:0px 2px; margin: 0px 2px; text-align: right; text-decoration-color: white; width: auto; height: 20px;
}
.getuserlabel{
  margin-bottom: .0rem;font-size: 14px;
}
.getrolediv{
  margin: 6px 6px 2px 0px; float: left
}
.getrolelbl{
  margin-bottom: .0rem;font-size: 14px;
}


.AddForm{
  width: 75%;
  background: rgba(77,77,77,.6);
}


.AddForm label{
 margin-bottom: 0px !important;
 margin-top: 5%;
} 

.AddForm input{
 width: 40%;
} 


label{
   margin-top: 5% !important;
}

.form-control{
   width: 90%;
}

.button{
  background-color: #577f63;
  color: white;
  width: 100px;
}