<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->



<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <h2> <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a></h2>
   <a routerLink="#" class="navbar-brand pl-lg-4"><img src="../assets/Images/NETIMPACT_logo.png"></a>
</nav> -->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <h2>
      <a data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a>
  </h2>
  <a [routerLink]="['/dashboard']" class="navbar-brand pl-lg-4 mr-auto"><img src="../assets/Images/Net-Impact_logo.png" /></a>
  <img class="logout mt-2 mr-2" src="../assets/Images/logout.png" (click)="LogOut()" style="cursor: pointer" />
 </nav>


<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <h2>
    <a data-target="#sidebar" data-toggle="collapse" class="d-md-none">
      <i class="fa fa-bars"></i>
    </a>
  </h2>
  <a [routerLink]="['/dashboard']" class="navbar-brand pl-lg-4 mr-auto">
    <img src="../assets/Images/Net-Impact_logo.png" />
  </a>
  <form class="form-inline mr-5 ml-lg-0 ml-auto ">
    <div class="row">
      <div class="col-lg-10 col-8">
        <div class="row" style="cursor: pointer;display: none;" (click)="editUser(UserId)">
          <div class="">
            <img src={{UserLoginImage}} style="width: 45px; height: 45px; margin: 0 .5rem 0 0; border-radius: 50px; border: 2px solid #7c7b7b;"
            />
          </div>
          <div class="profile_det">
            <div class="prof_name">{{loginUsername}}</div>
            <div class="prof_role">{{roleSName}}</div>
          </div>
        </div>
      </div>
      <div style="cursor: pointer;" (click)="LogOut()" class="col-lg-2 col-2 align-self-center">
        <a>
          <img src="../assets/Images/logout.png">
        </a>
      </div>
    </div>
  </form> -->

  <!-- <img class="logout mt-2 mr-2" src="../assets/Images/logout_icon.png" (click)="LogOut()" style="cursor: pointer" /> -->
<!-- </nav> -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>