.dashboard{
    border-collapse: collapse;
    font-size: 12px;
    color: #333333;
    width: 1000px;
    display: table;
}

.dashboardHeader{
     border-collapse: collapse;
    font-size: 14px;
    font-family: "Roboto-Regular";
    width: 1000px;
    display: table;
    margin: .8rem 0px;
    margin-top: 3%;
    display: none;
}


.dashboard th{
    background-color: #323840;
    font-weight: normal;
    height: 20px;
    padding: 10px 10px;
    color: #fff;
    text-transform: uppercase;
   
}
.dashboard tbody tr:nth-child(odd){
    background: #373636;
    color: #fff;
}

.dashboard tbody tr:nth-child(even){
    background: #4b4a4a;
    color: #fff;
}
.dashboard td{
    height: auto;
    padding: 3px 10px;
    // border: 1px solid #ccc ;
}
.contentss {
    width: 1010px;
    height:580px;
    overflow-x: hidden;
}

.contentss::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f3f3f;
  }
 
  
  .contentss::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    background-color: #00a453;
    border-radius: 3px;
  }
 
.gridheader{
    width: 1000px;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
    background-image: linear-gradient(to right,#313030, #626060);
    margin-bottom: 3%;
    border-radius: 2px;
}

.gridheader th{
    padding: 1rem;
    margin-bottom: 1rem;
}
.getuser{
    padding:0px 2px; margin: 0px 2px; text-align: right; text-decoration-color: white; width: auto; height: 20px; float: left;
}
.getuserlabel{
    margin-bottom: .0rem; font-size: 18px; font-weight: 500; ;
}
.getrolediv{
    margin: 6px 6px 2px 0px; float: left
}
.getrolelbl{
    margin-bottom: .0rem;font-size: 14px;
}
 
.AddIcon{
    float: left; margin-left: 15px; cursor: pointer;
}

.AddForm{
    width: 75%;
    background: rgba(77,77,77,.6);
}

 
.AddForm label{
   margin-bottom: 0px !important;
   margin-top: 5%;
} 

.AddForm input{
   width: 40%;
 } 


 label{
     margin-top: 5% !important;
 }

 

 .button{
    background-color: #577f63;
    color: white;
    width: 115px;
    height: 35px;
    border: none;
 }


 .DivAZ1{
     float: left;
 }

 .DivAZ2{
    float: left; margin-left: 7%;
}
.Active{
    color: green;
    font-size: 16px;
    text-align: left;
  }
  
  .InActive{
    color: red;
    font-size: 16px;
    text-align: left;
  }
  .searchimg{
    float: right;
    position: absolute;
    margin: 5px -21px;
  }
  .errormessage {
    color: red;
    text-align: left;
    font-size: 14px;
}
.brandcontentcss{
    font-size: 16px;
    text-transform: capitalize;
  }
  .form-control1 {
    display: block;
    width: 180px; 
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color:#505050;
     color: #fff;
    background-image: none;
    border: none;
    border-radius: 4px;
   }
   .form-control{
       width:316px;
       background-color:#505050;
       color: #fff;
       border: none;
       height: 35px;
   }
   .modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events:auto;
    background-color: #313030;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    height: auto;
}
.modal-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: none;
    border-top-left-radius:calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal {
    position: fixed;
    left: 113px;
    top: 30%
}

.modal-body {
    margin-bottom: 3rem;
}
.autofillcls{
  overflow: auto;
  height: 200px;
  border: 1px solid #fff;
  background: #212529;
  width: 160px;
  z-index: 999;
  position: absolute;
  margin-top: 6px;
  margin-left: 3px;
}
.autofillcls::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #3f3f3f;
}


.autofillcls::-webkit-scrollbar-thumb {
  width: 5px;
  height: 8px;
  background-color: #00a453;
  border-radius: 3px;
}
.closecls{
  // width: auto;
  // height: 13px;
  // float: right;
  // margin-right: -4px;
  // margin-top: -2px;
  // cursor: pointer;
  cursor: pointer;
  margin-left: 5px;
  margin-top: -3px;
}
.editdivbox{

  padding: 6px 5px 3px;
      padding-right: 25px;
      padding-left: 10px;
      position: relative;
      display: inline-block;
      color: white;
      top: 2px;
      width: max-content;
      height: 30px;
      background-color: #00a453;
      border-radius: 2px;
   }
   .brandtags{
    float: left;
    width: auto;
    background-color:#00a453;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 4px;
   }
.imglogo{
   height: 50px;
   width: auto;
}
.startDate{
  input[type=date]:invalid+span:after {
      content:"Start";
      position:absolute;
      left:10px;
      top:9px;
    }
    .insentive_dates{
      width: 154px;
      height: 35px;
    }
    
    // input[type=date]:focus:invalid+span:before {
    //   display:none;
    // }
    
    input:not(:focus):invalid {
      color:transparent;
    }
    
    label.wrapper {
        position:relative;
    }
  
    input[type="date"]{
      background-color: #505050;
      border-style: none;
      border-radius: 4px;
      color: white;
  }
  
  //   -------icon---------
    //   input[type="date"]::-webkit-calendar-picker-indicator {
    //     color: rgba(0, 0, 0, 0);
    //     opacity: 1;
    //     display: block;
    //     background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    //     width: 20px;
    //     height: 20px;
    //     border-width: thin;
    // }
  //   -------icon---------
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  input[type="date"]:in-range::-webkit-datetime-edit-year-field, 
  input[type="date"]:in-range::-webkit-datetime-edit-month-field, 
  input[type="date"]:in-range::-webkit-datetime-edit-day-field, 
  input[type="date"]:in-range::-webkit-datetime-edit-text 
  { 	color: transparent; }

  input[type="date"]::-webkit-datetime-edit-day-field:focus,
  input[type="date"]::-webkit-datetime-edit-month-field:focus,
  input[type="date"]::-webkit-datetime-edit-year-field:focus {
    background-color: #505050;
}
  
  }

  
  
  
  .endDate{
      input[type=date]:invalid+span:after {
          content:"End";
          position:absolute;
          left:10px;
          top:9px;
        }
        
        // input[type=date]:focus:invalid+span:after {
        //   display:none;
        // }
        
        input:not(:focus):invalid {
          color:transparent;
        }
        
        label.wrapper {
            position:relative;
        }
      
        input[type="date"]{
          background-color: #505050;
          border-style: none;
          border-radius: 4px;
          color:  white;
      }
  
  //   -------icon---------
    //   input[type="date"]::-webkit-calendar-picker-indicator {
    //     color: rgba(0, 0, 0, 0);
    //     opacity: 1;
    //     display: block;
    //     background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    //     width: 20px;
    //     height: 20px;
    //     border-width: thin;
    // }
  //   -------icon---------
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  input[type="date"]:in-range::-webkit-datetime-edit-year-field, 
  input[type="date"]:in-range::-webkit-datetime-edit-month-field, 
  input[type="date"]:in-range::-webkit-datetime-edit-day-field, 
  input[type="date"]:in-range::-webkit-datetime-edit-text 
  { 	color: transparent; 
  }

   input[type="date"]::-webkit-datetime-edit-day-field:focus,
   input[type="date"]::-webkit-datetime-edit-month-field:focus,
   input[type="date"]::-webkit-datetime-edit-year-field:focus 
   {
     background-color: transparent;
 }

      }
  
      .formatcenter{
          display: block;
          text-align: right;
          height: calc(1.5em + .75rem + 2px);
          padding: .375rem .75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          width: 158px;
          height: 35px;;
      }
       
      .storescls{
        height: 300px;
        overflow:auto ;
        width: 250px;
      }
      .storescls::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: #3f3f3f;
      }
      
      
      .storescls::-webkit-scrollbar-thumb {
        width: 5px;
        height: 8px;
        background-color: #00a453;
        border-radius: 3px;
      }
  
  
 