.savebtn{
    background-color: #577f63;
    border-style: none;
    color: whitesmoke;
    width: 100px;
  border: none;
}
// .closecls{
//   width: auto;
//   height: 13px;
//   float: right;
//   cursor: pointer;
// }
// .divbox{
//   background: #577f63;
//   box-sizing: border-box;
//   padding: 3px;
//   width: auto;
//   border-radius: 2px;
//   margin: 4px;
//   color: #fff;
// }
.editdivbox{
  //     background-color: #00a453;
  //     box-sizing: border-box;
    
  //     border-radius: 2px;
  //     margin: 6px;
  //     color: #fff;
  //    padding:.5em;
  //    display:inline-block;
  padding: 4px 5px 3px;
      padding-right: 20px;
      padding-left: 10px;
      position: relative;
      display: inline-block;
      color: white;
      margin-right: 3px;
      margin-bottom: 5px;
      top: 2px;
      width: auto;
      height: 30px;
      background-color: #00a453;
   }

   .closecls{
    // width: auto;
    // height: 13px;
    // float: right;
    // margin-right: -4px;
    // margin-top: -2px;
    // cursor: pointer;

    position: absolute;
    right: 2px;
    top: 6px;
    display: block;
    font-size: 1px;
    cursor: pointer;
    width: auto;
    height: 13px;
    float: right;
 }
 .autofillcls{
  overflow: auto;
  height: 200px;
  border: 1px solid #fff;
  background: #212529;
  width: 200px;
  z-index: 999;
  position: absolute;
  margin-top: 5px;
  margin-left: 9px;;
}
.autofillcls::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #3f3f3f;
}


.autofillcls::-webkit-scrollbar-thumb {
  width: 5px;
  height: 8px;
  background-color: #00a453;
  border-radius: 3px;
}
.brandcontentcss{
  font-size: 16px;
  text-transform: capitalize;
}
.highlight{ background-color:  #00a453 }