        .select{font: 400 14px/20px Roboto-Regular; font-size: 14px; text-decoration: underline !important; 
                text-decoration-color: gray !important; cursor: pointer;} 
        
        a.select:hover, a.ex1:active {color: #00a453;}
        a.select:hover, a.ex1:active {font-size: 100%;}


        .branddet{
           font-size: 14px;
           margin-top: 10%;
        }

        .branddet h6{
                font-size: 16px;
                margin: 0px;
             }

        .DivTitle{
                color: gray;
        } 
        .branddet p{
           margin: 0px;
        }

        .contentss {
                // width: 1010px;
                height:400px;
                overflow-x: hidden;
            }
            
            .contentss::-webkit-scrollbar {
                width: 5px;
                height: 8px;
                background-color: #3f3f3f;
              }
             
              
              .contentss::-webkit-scrollbar-thumb {
                width: 5px;
                height: 8px;
                background-color: #00a453;
                border-radius: 3px;
              }