<div class="container">
    <form [formGroup]="brandpopupForm" (ngSubmit)="OnBrandSubmit()">
        <div style="text-align: center;color: white;">Brand</div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="formgroup grp grp_det">
                        <label style="color: white;"> Name</label>
                        <input type="text" class="form-control" maxlength="51" formControlName="brandname" autofocus>
                        <small class="errormessage" *ngIf=" submitted && brandpopupForm.controls.brandname.hasError('required')">BrandName is
                            required
                            
                        </small>
                        <small class="errormessage" *ngIf="brandpopupForm.controls.brandname.hasError('maxlength')">
                            You have reached your maximum limit of characters allowed for Brand Name
                        </small>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="formgroup grp grp_det">
                        <label style="color: white;"> Description</label>
                        <!-- <input type="text" class="form-control" maxlength="5000" style="height: 100px;" formControlName="branddesc" autofocus> -->
                        <textarea class="form-control" maxlength="5000" formControlName="branddesc" autofocus></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="formgroup grp grp_det">
                        <label style="color: white;"> URL</label>
                        <input type="text" class="form-control" maxlength="100" formControlName="brandurl" autofocus>
                    </div>
                </div>
               
            </div>
        </div>
            <div class="col-12">
                <label style="color: white;">Logo</label>
             </div>
     
             <div class="col-12">
                     <img src="assets/Images/Upload-Icon.png" (click)="selectFile.click()">
                     <input style="display: none;"   type="file" accept="image/*" formControlName="file" (change)="processFile($event)" #selectFile>
             </div>
             <div class="col-12">
                <div class="imagePreview" *ngIf="selectedFile && selectedFile != ''">
                    <img [src]="selectedFile"  style="width: auto;height: 100px;">
                  
                  </div>
            </div>
             <div class="col-12">
                <div class="row">
                <button type="submit" class="button" style="margin-left: 12px;">ok</button>
                <button mat-button class="button" (click)="closeBrand()"  style="margin-left: 7px;">Close</button>
            </div>
           
            </div>
        
    </form>
</div>
