.fa-cloud-download,
.fa-envelope,
.fa-volume-control-phone,
.fa-cogs,
.fa-car {
  float: left;
  padding-right: 15px;
  padding-left: 10px;
}
.fa-angle-right {
  float: right;
  padding-right: 5px;
  padding-left: 10px;
}

p,
ul,
li,
div,
nav {
  padding: 0;
  margin: 0;
}
body {
  font-family: Calibri;
}
#menu {
  overflow: auto;
  position: relative;
  z-index: 2;
}
.parent-menu {
  background-color: #0c0d0e;
  color: whitesmoke;
  min-width: 200px;
  float: left;
  padding: 20px 10px 20px 10px;

  height: 100%;
}

#menu ul {
  list-style-type: none;
}

#menu ul li ul li {
  text-align: center;
}

#menu ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

#menu ul li a:hover {
  color: whitesmoke;
}
#menu ul li:hover > ul {
  left: 200px;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}
#menu ul li > ul {
  position: absolute;
  background-color: #333;
  top: 0;
  left: -200px;
  min-width: 200px;
  z-index: -1;
  //    height: 100%;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}
#menu ul li > ul li a:hover {
  background-color: #4caf50;
  color: whitesmoke;
}
