 
<div>
<ul class="nav flex-column flex-nowrap overflow-hidden">
  <li class="nav-item">
    <a class="nav-link active"
      ><img src="../assets/Images/Dealership-Icon.png" class="img-fluid" />
      <span class="d-none d-sm-inline">Dealerships</span>
      <span class="d-none d-sm-inline" style="float: right"
        ><img src="../assets/Images/Arrow.png" /></span
    ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
      ><img src="../assets/Images/Incentives-Icon.png" class="img-fluid" />
      <span class="d-none d-sm-inline">Incentives</span>
      <span class="d-none d-sm-inline" style="float: right"
        ><img src="../assets/Images/Arrow.png" /></span
    ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
      ><img src="../assets/Images/Gears-Icon.png" class="img-fluid" />
      <span class="d-none d-sm-inline">Integrations</span
      ><span class="d-none d-sm-inline" style="float: right"
        ><img src="../assets/Images/Arrow.png" /></span
    ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
      ><img src="../assets/Images/payment-Icon.png" class="img-fluid" />
      <span class="d-none d-sm-inline">Payments</span
      ><span class="d-none d-sm-inline" style="float: right"
        ><img src="../assets/Images/Arrow.png" /></span
    ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
      ><img src="../assets/Images/Download-Icon.png" class="img-fluid" />
      <span class="d-none d-sm-inline">Installation</span
      ><span class="d-none d-sm-inline" style="float: right"
        ><img src="../assets/Images/Arrow.png" /></span
    ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
      ><img src="../assets/Images/Phone-Icon.png" class="img-fluid" />
      <span class="d-none d-sm-inline">Support</span
      ><span class="d-none d-sm-inline" style="float: right"
        ><img src="../assets/Images/Arrow.png" /></span
    ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <img src="../assets/Images/msg_icon.png" class="img-fluid" />
      <span class="d-none d-sm-inline">Message Center </span>
      <span class="d-none d-sm-inline" style="float: right"
        ><img src="../assets/Images/Arrow.png" /></span
    ></a>
  </li>

  <li class="nav-item">
    <a class="nav-link"
      ><img src="../assets/Images/msg_icon.png" class="img-fluid" />
      <span class="d-none d-sm-inline">Settings</span>
      <span class="d-none d-sm-inline" style="float: right"
        ><img src="../assets/Images/Arrow.png" /></span
    ></a>
  </li>
</ul>
</div>

 
