
.form-control1 {
    display: block;
    width: 100%; 
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   }

   .savebutton {
    background: #577f63;
    border: 1px solid #577f63;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
   }
   .errormessage {
    color: red; 
    text-align: left;
    font-size: 12px;
   }
   .dashboard_bg{
    width: 100%; 
    height: auto;  
    background: url(../../../../assets/Images/bg.jpg) no-repeat bottom center; 
    background-size: 100% 100%, cover;
 }
.grp input{
    height: 32px; 
    padding: 10px; 
    font-size: 14px;
    color: #000000;
    // font-family: 'Roboto-Medium';
 }
.grp_det label{
    color: #a6a6a6; 
    margin-bottom: .2rem;
 }

    .dash {
        width: 100%;
        height: 32px;
        float: right;
        margin: 0 0 1rem 0;
        border: 1px solid #ffffff;
    border-radius:
    3px;
    overflow: hidden;
    background: url(../../../../assets/Images/Arrow1.png) 92% no-repeat #ffffff;
 }
    .dash select {
        background: transparent; 
        width: 100%;
        height: 30px;
        padding:0 7% 0 5%;
        float: right;
    border: 1px solid #ffffff;
    // font-family: 'Roboto-Medium';
    font-size: 13px;color: #000;outline: none;-webkit-appearance:none;}
    .dash select option {margin: 40px;background: rgba(0, 0, 0, 0.8); color: #fff;}
   

    .pointer {
        cursor: pointer;
    }