.dashboard_bg {
    width: 100%;
    height: auto;
    background: url(../../assets/images/bg.jpg) no-repeat bottom center;
    background-size: 100% 100%, cover;
  }
  .grp input {
    height: 32px;
    padding: 10px;
    font-size: 14px;
    color: #000000;
    font-family: "Roboto-Medium";
  }
  .grp_det label {
    color: #a6a6a6;
    margin-bottom: 0.2rem;
  }
  
  .dash {
    width: 100%;
    height: 32px;
    float: right;
    margin: 0 0 1rem 0;
    border: 1px solid #ffffff;
    border-radius: 3px;
    overflow: hidden;
    background: url(../../assets/images/Arrow1.png) 92% no-repeat #ffffff;
  }
  .dash select {
    background: transparent;
    width: 100%;
    height: 30px;
    padding: 0 7% 0 5%;
    float: right;
    border: 1px solid #ffffff;
    font-family: "Roboto-Medium";
    font-size: 13px;
    color: #000;
    outline: none;
    -webkit-appearance: none;
  }
  .dash select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  


  .HeaderDiv {
    height: 10%;
    width: 100%;
    color: white;
    // border-radius: 5px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .HeaderText {
    text-align: left;
    margin-left: 55px;
  }
  
  .logout {
    height: 40px;
    margin-left: 351%;
  }
  
  .dashboard_bg {
    width: 100%;
    height: auto;
    background: url(../../assets/images/bg.jpg) no-repeat bottom center;
    background-size: 100% 100%, cover;
  }
  
  .grp input {
    height: 32px;
    padding: 10px;
    font-size: 14px;
    color: #000000;
    font-family: 'Roboto-Medium';
    ;
  }
  
  .grp_det label {
    color: #a6a6a6;
    margin-bottom: .2rem;
  }
  
  .dash {
    width: 100%;
    height: 32px;
    float: right;
    margin: 0 0 1rem 0;
    border: 1px solid #ffffff;
    border-radius: 3px;
    overflow: hidden;
    background: url(../../assets/images/Arrow1.png) 92% no-repeat #ffffff;
  }
  
  .dash select {
    background: transparent;
    width: 100%;
    height: 30px;
    padding: 0 7% 0 5%;
    float: right;
    border: 1px solid #ffffff;
    font-family: 'Roboto-Medium';
    ;
    font-size: 13px;
    color: #000;
    outline: none;
    -webkit-appearance: none;
  }
  
  .dash select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
  }