.container{
    background-color: black;    
    height: 500px;
    padding-top: 2%;
    margin-top: 3%;
}
label{
    margin-top: 5% !important;
}

.form-control{
    width: 225px;
}
.form-control1 {
  display: block;
  width: 100%; 
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 }

.button{
 background-color: #577f63;
 color: white;
 width: 115px;
 height: 35px;
 border: none;
}
.errormessage {
  color: red;
  text-align: left;
  font-size: 14px;
}

::ng-deep.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 7px;
  left: 0;
  height: 100%;
  width: 100%;
}
::ng-deep.mat-dialog-container {
  padding: 0 6px 6px 6px !important;
  background: #d4d4d4;
  margin-left: auto;
  margin-right: auto;
  width: 85% !important;
}
::ng-deep.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
