

.dashboard{
    border-collapse: collapse;
    font-size: 12px;
    color: #333333;
    width: 100%;
    display: table;
  }
  
  .dashboardHeader{
     border-collapse: collapse;
    font-size: 14px;
    font-family: "Roboto-Regular";
    width: 100%;
    display: table;
    margin: .8rem 0px;
    margin-top: 3%;
    display: none;
  }
  
  
  .dashboard th{
    background-color: #323840;
    font-weight: normal;
    height: 20px;
    padding: 10px 10px;
    color: #fff;
    text-transform: uppercase;
   
  }
  .dashboard tbody tr:nth-child(odd){
    background: #373636;
    color: #fff;
  }
  
  .dashboard tbody tr:nth-child(even){
    background: #4b4a4a;
    color: #fff;
  }
  .dashboard td{
      height: auto;
      padding: 10px 10px;
      // font-size: 16px;
      // text-align: left;
  }
  
  .contentss {
    width: 100%;
    height:500px;
    overflow-x: hidden;
  }
  
  .contentss::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f3f3f;
  }
  
  
  .contentss::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    background-color: #00a453;
    border-radius: 3px;
  }
  
  
  
  .gridheader{
    width: 1000px;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
    background-image: linear-gradient(to right,#313030, #626060);
    margin-bottom: 3%;
  }
  
  .gridheader th{
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .getuser{
    padding:0px 2px; margin: 0px 2px; text-align: right; text-decoration-color: white; width: auto; height: 20px; float: left;
  }
  .getuserlabel{
  //margin-bottom: .0rem; font-size: 18px !important; font-family: none !important; font-weight: 500; margin-left: 5%;
    margin-bottom: .0rem; font-size: 18px; font-weight: 500; margin-left: 5%;
  }
  
  .Active{
    color: green;
  }
  
  .InActive{
    color: red;
  }
  .btnsearch{
    background: #00a453;
    color: white;
    border: none;
    height: 23px;
    padding: 2px 12px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .style_head{padding: 1rem 2rem; font-size: 16px; background-image: linear-gradient(to right, #313130, #6d6b6b);
    h4{font-size: 22px;font-family: 'Roboto-Bold'!important; letter-spacing:2px;margin: 0 .5rem 0 0; ;}
  }
  
  .search input {height: 24px;padding: 5px 35px 5px 10px; text-align: left;outline: none;border-radius: 3px ;
    border: none;font-size: 12px;margin: 0 0 0 30px; background-color: #bdbdbd !important; color: #333 !important; background: url(../../../assets/Images/Search-Icon.png) no-repeat right;
       ::placeholder{color: #333 !important;}
       ::-webkit-input-placeholder{color: #333 !important;}
       :-ms-input-placeholder {color: #333 !important;}
    }
    .style_bg{width: 100%; min-height: 500px; background: rgba(77,77,77,.6); font-size: 14px;
      border: 1px solid #4d4d4d; border-radius: 5px; padding: 25px 50px; margin-bottom: 30px;
  }
  
  // add screens
  .AddIcon{
    float: left; margin-left: 15px; cursor: pointer;
  }
  
  .pointer{
    cursor: pointer;
  }
  
  .errormessage{
    color: red;
    }
  
    .savebutton {
      background: #577f63;
      border: 1px solid #577f63;
      border-radius: 3px;
      padding: 5px;
      outline: 0;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      width: 100%;
      margin-left: 45%;
      }


      .DivAZ1{
        float: left;
        position: relative;
        margin-left: 34%;
        margin-top: 0%;
      }
      
      .DivAZ2{
       float: left; 
       margin-left: 10%;
       margin-top: 0%;
       position: relative;
      
      }
      .DivAZ3{
      width: 104px;
        cursor: pointer;
        position: relative;
        margin-top: -1.1%;
        margin-left: 13%;
      }

      .atozFltr{
        height: 50px;margin-bottom: 10px;
      }

      .width{
        width: 100%;
      }

      .tdspname{width: 20%; text-align: left;}

      .edit{width: 5%; text-align: center;}

      .noitems{text-align: center;}

      .form-control{
        width: 80%;
    }

    .oemgroupimg{
      margin-top: -7%;
      float: right;
      margin-right: 57px;
  }