<div class="row">
    <div class="col pr-0">
        <div class="contentpanel_bg">
            <div class="row" *ngIf="dealersList.length > 0">
                <div class="col-md-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 pt-4">
                            <div><img src="../../../../assets/images/hendrick_logo.jpg" class="img-fluid"></div>
                            <div class="brand_det">
                                <h6>{{dealersDetails.dealer_name}}</h6>
                                <p>
                                    {{dealersDetails.dealer_address1}},<br> {{dealersDetails.dealer_address2}}<br> {{dealersDetails.dealer_address3}}
                                    <br> {{dealersDetails.dealer_city}} , &nbsp;{{dealersDetails.dealer_state}}
                                    <br> {{dealersDetails.dealer_zip}} &nbsp;&nbsp; {{dealersDetails.dealer_country}}
                                    <br> {{dealersDetails.dealer_phone}}
                                </p>
                                <div class="side_head">Contacts:
                                    <p *ngFor = "let item of dealersDetails.DealerDetails">
                                        {{item.dd_name}},{{item.dd_position}}
                                    </p>
                                    
                                </div>
                                <div class="side_head pt-3">Users:
                                    <p *ngFor = "let item of dealersDetails.DealerDetails">
                                        {{item.dd_name}},{{item.dd_position}}
                                    </p>
                                    
                                </div>
                                <div class="pt-4">
                                    <a routerLink="/AddDealership"><img src="../../../../assets/images/Edit-Icon.png" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="pl-lg-4 dheader" style="font-size: 14px;color: #bcbcbc;">
                        <label>Dealerships:</label>
                        </div>
                    <div id="scroll" class="col-lg-12 scrolldash">
                        <div class="brand_style">

                            <div [ngClass]="{'active': (divActive == i)}" *ngFor="let drl of dealersList; let i = index" (click)="dealerDetails(dealersList[i],i)">
                                {{drl.dealer_name}}
                            </div>

                        </div>
                    </div>
                    <div class="mt-4">
                        <a routerLink="/AddDealership"><img src="../../../../assets/images/Add-Dealership.png" class="img-fluid"></a>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</div>