<div class="grp_det pl-lg-4">
  <label>Dealerships</label>
</div>
<div id="scroll" class="col-lg- 12 scrolldash">
  <div class="brand_style">
    <div class="active"><a>Terry Labonte Chevrolet</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a>Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <!-- <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div>
    <div><a >Hendrick Chevrolet Buick GMC Southpoint</a></div> -->
  </div>
</div>
<div class="mt-4">
  <a 
    ><img src="../assets/Images/Add-Dealership.png" class="img-fluid"
  /></a>
</div>
