 

.dashboard{
    border-collapse: collapse;
    font-size: 12px;
    color: #333333;
    width: 1000px;
    display: table;
}

.dashboardHeader{
     border-collapse: collapse;
    font-size: 14px;
    font-family: "Roboto-Regular";
    width: 1000px;
    display: table;
    margin: .8rem 0px;
    margin-top: 3%;
    display: none;
}


.dashboard th{
    background-color: #323840;
    font-weight: normal;
    height: 20px;
    padding: 10px 10px;
    color: #fff;
    text-transform: uppercase;
   
}
.dashboard tbody tr:nth-child(odd){
    background: #373636;
    color: #fff;
}

.dashboard tbody tr:nth-child(even){
    background: #4b4a4a;
    color: #fff;
}
.dashboard td{
    height: auto;
    padding: 3px 10px;
    // border: 1px solid #ccc ;
}
.contentss {
    width: 1010px;
    height:580px;
    overflow-x: hidden;
}

.contentss::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f3f3f;
  }
 
  
  .contentss::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    background-color: #00a453;
    border-radius: 3px;
  }
 
.gridheader{
    width: 1000px;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
    background-image: linear-gradient(to right,#313030, #626060);
    margin-bottom: 3%;
    border-radius: 2px;
}

.gridheader th{
    padding: 1rem;
    margin-bottom: 1rem;
}

.getuser{
    padding:0px 2px; margin: 0px 2px; text-align: right; text-decoration-color: white; width: auto; height: 20px; float: left;
}
.getuserlabel{
    margin-bottom: .0rem; font-size: 18px; font-weight: 500; ;
}
.getrolediv{
    margin: 6px 6px 2px 0px; float: left
}
.getrolelbl{
    margin-bottom: .0rem;font-size: 14px;
}
 
.AddIcon{
    float: left; margin-left: 15px; cursor: pointer;
}

.AddForm{
    width: 75%;
    background: rgba(77,77,77,.6);
}

 
.AddForm label{
   margin-bottom: 0px !important;
   margin-top: 5%;
} 

.AddForm input{
   width: 40%;
 } 


 label{
     margin-top: 5% !important;
 }

 .form-control{
     width: 90%;
 }

 .button{
    background-color: #577f63;
    color: white;
    width: 115px;
    height: 35px;
    border: none;
 }


 .DivAZ1{
     float: left;
 }

 .DivAZ2{
    float: left; margin-left: 10%;
}
.divbox{
    background-color: #00a453;
    box-sizing: border-box;
    padding: 7px 11px;
    width: auto;
    border-radius: 2px;
    margin: 4px;
    color: #fff;
    height: 30px;
 }
 .editdivbox{
//     background-color: #00a453;
//     box-sizing: border-box;
  
//     border-radius: 2px;
//     margin: 6px;
//     color: #fff;
//    padding:.5em;
//    display:inline-block;
padding: 6px 5px 3px;
    padding-right: 25px;
    padding-left: 10px;
    position: relative;
    display: inline-block;
    color: white;
    margin-right: 3px;
    margin-bottom: 5px;
    top: 2px;
    width: auto;
    height: 30px;
    background-color: #00a453;
    border-radius: 2px;
 }
 .errormessage {
    color: red;
    text-align: left;
    font-size: 14px;
}
 .closecls{
    // width: auto;
    // height: 13px;
    // float: right;
    // margin-right: -4px;
    // margin-top: -2px;
    // cursor: pointer;

    position: absolute;
    right: 4px;
    top: 8px;
    display: block;
    font-size: 1px;
    cursor: pointer;
    width: auto;
    height: 13px;
    float: right;
 }
 .autofillcls{
    overflow: auto;
    height: 200px;
    border: 1px solid #fff;
    background: #212529;
    width: 200px;
    z-index: 999;
    position: absolute;
    margin-top: 5px;
    margin-left: 9px;;
 }
 .autofillcls::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f3f3f;
  }
 
  
  .autofillcls::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    background-color: #00a453;
    border-radius: 3px;
  }
  .brandcontentcss{
    font-size: 16px;
    text-transform: capitalize;
  }
  .highlight{ background-color:  #00a453 }
  .Active{
    color: green;
    font-size: 16px;
    text-align: left;
  }
  
  .InActive{
    color: red;
    font-size: 16px;
    text-align: left;
  }
  .searchimg{
    float: right;
    position: absolute;
    margin: 5px -21px;
  }
  .form-control1{
    display: block;
    width: 100%; 
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
   
    border-radius: 4px;
    height: 37px;
  }
 
//   .brandpopup{
//     position: relative;
//     background: rgba(0,0,0,0.7);
//     top: 10px;
//     z-index: 999;
//     width: 600px;
//     height: 300px;
//     left:300px
//   }
//   .overlay {
//     position: fixed;
//     top: 60px;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background: rgba(0, 0, 0, 0.7);
//     transition: opacity 500ms;
//     visibility: hidden;
//     opacity: 0;
//   }
//   .overlay div:target {
//     visibility: visible;
//     opacity: 1;
//   }
