<div class="row">
    <!-- <div style="margin-bottom: 20px;" class="col-lg-2 col-6  pr-0"><a [routerLink]="['/AddGroupComponent']"><img src="../assets/Images/Add-Group.png" class="img-fluid"></a></div> -->
    <div style="margin-bottom: 20px;" class="col-lg-2 col-6  pr-0">
          <a [routerLink]="['/AddGroupComponent']"><img src="../assets/Images/circle_icon.png" class="img-fluid"></a>
          &nbsp;
          <label>Add Dealer Group</label>
        </div>
    <!-- <div class="col-lg-2 col-6  pl-0"><a [routerLink]="['/AddDealership']"><img src="../assets/Images/Dealership.png" class="img-fluid"></a></div> -->
    <!-- <div class="col-lg-6 col-12">
        <div class="row">
            <div class="col-lg-3 col-6 text-right"><label>Filter by:</label></div>
  
             <div class="col-lg-3 col-6  pl-0 pr-2">
                 <div class="form-group  drop_dwn">
                     <select><option>Location</option></select>
                 </div>
             </div>
             <div class="col-lg-3 col-6  pl-0 pr-2">
                 <div class="form-group  drop_dwn">
                     <select><option>Group</option></select>
                 </div>
             </div>
             <div class="col-lg-3 col-6  pl-0 pr-2">
                 <div class="form-group  drop_dwn">
                     <select><option>Dealership</option></select>
                 </div>
             </div>
        </div>
    </div> -->
    <div class="col-lg-8"></div>
    <!-- <div class="col-lg-2 col-12  pr-md-0">
      <div class="input-group search">
         <input type="text" class="form-control" placeholder="Search" (keyup)="onSearch()">
         <div class="input-group-btn">
           <button class="btn" type="submit">
             <img src="../assets/Images/Search-Icon.png">
           </button>
         </div>
       </div>
    </div> -->
  </div>
  <div class="row mt-3">
    <div class="col-1">
        <div class="btn_all">All</div>
    </div>
    <div class="col-11 p-0">
     <ul class="pagination">
         <li><a >A</a></li>
         <!-- <li class="active"><a >B <span class="sr-only">(current)</span></a></li> -->
         <li><a>B</a></li>
         <li><a>C</a></li>
         <li><a>D</a></li>
         <li><a>E</a></li>
         <li><a>F</a></li>
         <li><a>G</a></li>
         <li><a>H</a></li>
         <li><a>I</a></li>
         <li><a>J</a></li>
         <li><a>K</a></li>
         <li><a>L</a></li>
         <li><a>M</a></li>
         <li><a>N</a></li>
         <li><a>O</a></li>
         <li><a>P</a></li>
         <li><a>Q</a></li>
         <li><a>R</a></li>
         <li><a>S</a></li>
         <li><a>T</a></li>
         <li><a>U</a></li>
         <li><a>V</a></li>
         <li><a>W</a></li>
         <li><a>X</a></li>
         <li><a>Y</a></li>
         <li><a>Z</a></li>
         <li><a>#</a></li>
     </ul>
    </div>
  </div>
  