
  <div class="row justify-content-center">
      <div class="col-lg-8 pt-4">
          <div><img src="../../assets/Images/hendrick_logo.jpg" class="img-fluid"></div>
          <div class="brand_det">
              <h6>Hendrick Automotive Group</h6>
              <p>
                  6030 E Independence Bivd,<br>
                  Charlotte, North Carolina<br>
                  28212-6830 USA<br>
                  (704) 568-5520
              </p>
              <div class="side_head">Contacts:
                  <p>Bob Johnson, COO</p><p>Beverley Smithson, CRO</p>
              </div>
              <div class="side_head pt-3">Users:
                  <p>John Brown, CFO</p><p>Ben Cransten, Controller</p><p>Fred Everly, Accountant</p>
              </div>
              <div class="pt-5"><img src="../assets/Images/Edit-Icon.png" class="img-fluid"></div>
          </div>
      </div>
  </div>

