
<div class="row">
    <form style="font-size: 14px;width: 100%;">
        <div class="contentpanel_bg">
            <div class="row">
            <div class="col-4" style="width: 40%;margin-top: 20px;">
                <div style="margin-left: 50px;">
                    <tr>
                        <img src="../../../../assets/images/hendrick.png" width="200" height="80" style="padding-top: 12px;">
                    </tr>
                </div>
                <!-- Address -->
                <div>
                    <div class="col-sm-9" style=" color:white;margin-left: 50px;margin-top: 20px;">
                        <label>Hendrick Automotive Group</label>
                    </div>
                    <div class="col-sm-9" style=" color:#a99e9e;margin-left: 50px;">
                        <label>H6030 Independence Blvd</label>
                    </div>
                    <div class="col-sm-9" style=" color: #a99e9e;margin-left: 50px;">
                        <label>Charlotte, North Carolina </label>
                    </div>
                    <div class="col-sm-9" style=" color:#a99e9e;margin-left: 50px;">
                        <label>28212 6830, USA</label>
                    </div>
                    <div class="col-sm-9" style=" color:#a99e9e;margin-left: 50px;">
                        <label>(704)) 568-5550</label>
                    </div>
                </div>

                <div>
                    <div class="col-sm-9" style=" color:white;margin-left: 50px;margin-top: 50px;">
                        <label>Contacts:</label>
                    </div>

                    <div class="col-sm-9" style=" color:#a99e9e;margin-left: 50px;">
                        <label>Bob Johnson, COD</label>
                    </div>

                    <div class="col-sm-9" style=" color:#a99e9e;margin-left: 50px;">
                        <label>Beverly Smithson, CRD</label>
                    </div>
                </div>


                <div>
                    <div class="col-sm-9" style=" color:white;margin-left: 50px;margin-top: 50px;">
                        <label>Users:</label>
                    </div>

                    <div class="col-sm-9" style=" color:#a99e9e;margin-left: 50px;">
                        <label>John Brown, CFO</label>
                    </div>

                    <div class="col-sm-9" style=" color:#a99e9e;margin-left: 50px;">
                        <label>Ben Cransten, Controller</label>
                    </div>

                    <div class="col-sm-5" style=" color:#a99e9e;margin-left: 50px;">
                        <label>Fred Evly, Accountant</label>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <form  [formGroup]="dshipForm" (ngSubmit)="DealerAddOnSubmit()">
                    <div class="row">
                        <div class=col-sm-1>
                        </div>
                        <div class="col-3" style="margin-left: -80px;">
                            <label style="color: white;">Dealership</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class=col-sm-1>
                        </div>
                        <div class="col-9" style="margin-left: -80px;">
                            <input style="width: 118%;" type="text" class="form-control" maxlength="31" formControlName="dship" autofocus>
                            <small class="errormessage" *ngIf="submitted && dshipForm.controls.dship.hasError('required')">Dealership  is required
                            <br>
                        </small>
                            <small class="errormessage" *ngIf="dshipForm.controls.dship.hasError('pattern')">
                            Only alphabets are allowed for Dealership 
                            <br>
                        </small>
                            <small class="errormessage" *ngIf="dshipForm.controls.dship.hasError('maxlength')">
                            You have reached your maximum limit of characters allowed for Dealership 
                        </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-9" style="padding-top:3%;">
                            <label style="color: white;">Address 1</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class=col-1>
                            <img style="height: 25px;margin-top:5px;margin-left: 24px;"  src="../../../../assets/images/circle_icon.png" (click)="AddInput()">
                            <!-- <img src="../../../../assets/images/circle_icon.png" style="height: 28px;margin-top: 17px;" (click)="AddInput();"> -->
                            <!-- <span (click)="AddInput()">
                                <i class="fa fa-plus-circle" style="color: #c7bfbf; font-size: xx-large;margin-left: 25px;" aria-hidden="true"></i>
                            </span> -->
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" formControlName="address" maxlength="51" autofocus>
                            <small class="errormessage" *ngIf="submitted && dshipForm.controls.address.hasError('required')">Address is required
                                <br>
                            </small>
                            <small class="errormessage" *ngIf="dshipForm.controls.address.hasError('maxlength')">
                                You have reached your maximum limit of characters allowed for Address
                            </small>
                        </div>
                    </div>
                    <div formArrayName="quantities">

                        <div class="row" *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                            <div class="col-1"></div>
                            <div class="col-8" style="padding-top:3%;">
                                <label style="color: white;">address {{i+2}}</label>
                                <input style="width: 112%;" type="text" formControlName="address1" class="form-control">
                            </div>
                            <td style="padding-top:6.5%;margin-left: 70px;">
                                <img (click)="remove(i)" src="../../../../assets/images/remove-icon.png" style="width: 35px;height: 30px;">
                            </td>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-9" style="padding-top:3%;">
                            <label style="color: white;">City</label>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=col-sm-1>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="51" formControlName="dcity" autofocus>
                            <small class="errormessage" *ngIf="submitted && dshipForm.controls.dcity.hasError('required')">City is required
                    <br>
                </small>
                            <small class="errormessage" *ngIf="dshipForm.controls.dcity.hasError('maxlength')">
                    You have reached your maximum limit of characters allowed for City
                </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-6" style="padding-top:3%;">
                            <label style="color: white;">State
                </label>

                            <select class="form-control1" formControlName="state">
                        <option value="" >Select</option>
                        <option value="1">Alabama</option>
                        <option value="2">Alaska</option>
                        <option value="3">California</option>
                        <option value="4">Florida</option>
                </select>
                            <small class="errormessage" *ngIf="submitted && dshipForm.controls.state.hasError('required')">
                    State is required
                </small>
                        </div>
                        <div class="col-sm-3" style="padding-top:3%;">
                            <label style="color: white;">Zip
                </label>

                            <input type="text" class="form-control" (keypress)="_keyPress($event)" maxlength="6" formControlName="zip">
                            <small class="errormessage" *ngIf="submitted && dshipForm.controls.zip.hasError('required')">
                    Zip is required
                </small>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4" style="padding-top:3%;">
                            <label style="color: white;">
                    Country
                </label>
                            <select class="form-control1" formControlName="country">
                    <option value="" >Select</option>
                        <option value="1">United States</option>
                        <option value="2">India</option>
                        <option value="3">UK</option>
                        <option value="4">Austrila</option>
                </select>
                            <small class="errormessage" *ngIf="submitted && dshipForm.controls.country.hasError('required')">
                    Country is required
                </small>
                        </div>
                        <div class="col-sm-5" style="padding-top:3%;">
                            <label style="color: white;">
                    Phone
                </label>
                            <input type="text" class="form-control" formControlName="phone" (keypress)="allowNumbers($event)" maxlength="10">
                            <small class="errormessage" *ngIf="submitted && dshipForm.controls.phone.hasError('required')">
                    Phone number is required
                </small>
                        </div>
                    </div>
                    <div  class="row" style="margin-left:80px ;">
                        <!-- <div class="col-sm-2">
                        </div> -->

                        <img src="../../../../assets/images/Add-Contact.png" style="height: 25px;margin-top: 17px;" (click)="showDiv = !showDiv;">
                        <img src="../../../../assets/images/Add-User.png" style="height: 25px;margin-top: 17px;margin-left: 50px;" (click)="showDiv = !showDiv;">
                        <!-- <div (click)="openDialog()" class="col-sm-1" style="padding-top:3%;"> -->
                        <!-- <div (click)="showDiv = !showDiv;" class="col-sm-1" style="padding-top:3%;">
                             
                            <i class="fa fa-plus-circle" style="color: #c7bfbf; font-size: xx-large;" aria-hidden="true"></i>
                            
                        </div> -->
                        <!-- <label  style="color: white; padding-top:3.5%;margin-left: -23px;" class="col-sm-3">
                Add Contact
            </label> -->
                        <!-- <div (click)="showDiv = !showDiv;" class="col-sm-1" style="padding-top:3%;">     -->
                        <!-- <div (click)="openDialog()" class="col-sm-1" style="padding-top:3%;"> -->
                          
                            <!-- <i class="fa fa-plus-circle" style="color: #c7bfbf; font-size: xx-large;" aria-hidden="true"></i>
                        
                        </div>
                        <label  style="color:white; padding-top: 3.5%;margin-left: -23px;" class="col-sm-3">
                Add User
            </label> -->
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-9" style="padding-top:3%;">
                            <label style="color: white;">Brand(s):</label>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=col-sm-1>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="51" formControlName="brand" autofocus>
                            <small class="errormessage" *ngIf="submitted && dshipForm.controls.brand.hasError('required')">Brand is required
                    <br>
                </small>
                            <small class="errormessage" *ngIf="dshipForm.controls.dcity.hasError('maxlength')">
                    You have reached your maximum limit of characters allowed for brand
                </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="display: flex; margin: 1% 0 0 16%;">
                        <div class="form-group" style="margin-left: -57px;margin-top: 35px;">
                        
                                <img src="../../../../assets/images/Upload-Icon.png" (click)="selectFile.click()">
                                <input style="display: none" type="file" name="image" formControlName="fileUpload" (change)="fileProgress($event)" #selectFile />
                        
                        <small class="errormessage" *ngIf="submitted && dshipForm.controls.fileUpload.hasError('required')">
                        File Upload is required
                        </small>
                        </div>
                        <div *ngIf="fileUploadProgress">
                        Upload progress: {{ fileUploadProgress }}
                        </div>
                        <div class="image-preview mb-3" *ngIf="previewUrl">
                        <img [src]="previewUrl" height="100" />
                        </div>
                        
                        <div *ngIf="uploadedFilePath">
                        {{uploadedFilePath}}
                        </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3" style="padding-top: 2%">
                            <button type="submit" class="button">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </form>
</div>
<!-- ------------------Contact and user----------------------- -->
<div class="div_user_con">
<div class="row">
    <div *ngIf="showDiv" class="col pr-0">
        <div class="contentpanel_bg">
            <div class="container">
                <form [formGroup]="popupForm">
                    <div class="row">
                        <div class="col-lg-3 pr-lg-0">
                            <label>Contact</label>
                            <input type="text" class="form-control" formControlName="contact">
                            <!-- <small class="errormessage" *ngIf="submitted && popupForm.controls.contact.hasError('maxlength')">Contact is required
                                <br>
                            </small>
                            <small class="errormessage" *ngIf="popupForm.controls.contact.hasError('pattern')">
                                Only alphabets are allowed for Contact
                                <br>
                            </small> -->
                            <small class="errormessage" *ngIf="popupForm.controls.contact.hasError('maxlength')">
                                You have reached your maximum limit of characters allowed for Contact
                            </small>
                        </div>
                        
                        <div class="col-lg-2">
                            <label>Position</label>
                            <div class="dash">
                            <select  class="form-control1" formControlName="contposition">
                                <option value="">Select Position</option>
                                <option *ngFor="let i of Getpositions" [value]="i.dg_id">{{i.p_name}}</option>
                               
                            </select>
                        </div>
                            <!-- <small class="errormessage" *ngIf="submitted && popupForm.controls.contposition.hasError('required')">
                                Position is required
                            </small> -->
                        </div>
                        <div class="col-lg-3 pl-lg-0">
                            <div class="form-group grp grp_det">
                            <label>Email</label>
                            <input type="email" class="form-control1" formControlName="contemail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$">
                            <small class="errormessage" *ngIf="submitted && popupForm.controls.contemail.hasError('pattern')">
                                Invalid Email Address
                            </small>
                            <!-- <small class="errormessage" *ngIf="popupForm.controls.contemail.hasError('pattern')">
                                Invalid Email Address
                            </small> -->
                        </div>
                        </div>
                        <div class="col-lg-3 pl-lg-0">
                            <div class="form-group grp grp_det">
                            <label>Phone</label>
                            <input type="text" class="form-control" formControlName="contphone" (keypress)="allowNumbers($event)" maxlength="10">
                            
                        </div>
                        </div>
                        <div class="col-lg-12" formArrayName="dgContacts">
                            <div class="row" *ngFor="let quantity of dgContacts().controls; let i=index" [formGroupName]="i">
                                <div class="col-lg-3 pr-lg-0">
                                    <div class="form-group grp grp_det">
                                        <label>Contact</label>
                                        <input type="text" class="form-control" formControlName="contact2">
                                        <!-- <small class="errormessage" *ngIf="popupForm.controls.contact2.hasError('maxlength')">
                                            You have reached your maximum limit of characters allowed for Contact
                                        </small> -->
                                    </div>
                                    <!-- <div class="form-group grp grp_det">
                                       <input type="text" class="form-control" >
                                   </div>                                -->
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group grp grp_det">
                                        <label>Position</label>
                                        <div class="dash">
                                            <select class="form-control" formControlName="contposition2">
                                                <option value="">Select Position</option>
                                                <option value="1">Controller</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group grp grp_det">
                                       <div class="dash">
                                          <select class="form-control"><option>COO</option></select>
                                       </div>
                                   </div> -->
                                </div>
                                <div class="col-lg-3 pl-lg-0">
                                    <div class="form-group grp grp_det">
                                        <label>Email</label>
                                        <input type="text" class="form-control" formControlName="contemail2" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$">
                                        <!-- <small class="errormessage" *ngIf="popupForm.controls.contemail2.hasError('pattern')">
                                            Invalid Email Address
                                        </small> -->
                                    </div>
                                    <!-- <div class="form-group grp grp_det">
                                       <input type="text" class="form-control" >
                                   </div> -->
                                </div>
                                <div class="col-lg-3 pl-lg-0">
                                    <div class="form-group grp grp_det">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" formControlName="contphone2" (keypress)="allowNumbers($event)" maxlength="10">
                                    </div>
                                    <!-- <div class="form-group grp grp_det">
                                       <input type="text" class="form-control" >
                                   </div> -->
                                </div>
                                <div class="row">
                                    <img src="../../../../assets/Images/remove-icon.png" style="width: 35px;margin: 25px 0 0 9px;" (click)="contRemove(i)">
                                </div>
                            </div>
        
                        </div>
                        <!-- </div> -->
                        <div style="margin-left: 13px;" >
                            <img src="../../../../assets/images/Add-Contact.png" (click)="addContact()">
                        </div>
                    </div>
                
                    <!-- Add User -->
                    <div class="row">
                    <div class="col-lg-12 mt-4" >
                    <div class="row">
                        <div class="col-lg-3 pr-lg-0">
                            <div class="form-group grp grp_det">
                            <label>User</label>
                            <input type="text" class="form-control" formControlName="user">
                            <small class="errormessage" *ngIf="submitted && popupForm.controls.user.hasError('maxlength')">
                                You have reached your maximum limit of characters allowed for User Name
                            </small>
                        </div>
                            <!-- <small class="errormessage" *ngIf="popupForm.controls.user.hasError('pattern')">
                                Only alphabets are allowed for User Name
                                <br>
                            </small>
                            <small class="errormessage" *ngIf="popupForm.controls.user.hasError('maxlength')">
                                You have reached your maximum limit of characters allowed for User Name
                            </small> -->
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group grp grp_det">
                            <label >Position</label>
                            <div class="dash">
                            <select class="form-control1" formControlName="position">
                                <option value="">Select Position</option>
                                <option *ngFor="let i of Getpositions" [value]="i.dg_id">{{i.p_name}}</option>
                            </select>
                        </div>
                    </div>
                        </div>
                        <div class="col-lg-3 pl-lg-0">
                            <div class="form-group grp grp_det">
                            <label >Email</label>

                            <input type="email" class="form-control" formControlName="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$">
                            <small class="errormessage" *ngIf="submitted && popupForm.controls.email.hasError('pattern')">
                                Invalid Email Address
                            </small>
                            <!-- <small class="errormessage" *ngIf="popupForm.controls.email.hasError('pattern')">
                                Invalid Email Address
                            </small> -->
                        </div>
                        </div>
                        <div class="col-lg-3 pl-lg-0">
                            <div class="form-group grp grp_det">
                            <label>Phone</label>
                            <input type="text" class="form-control" formControlName="phone" (keypress)="allowNumbers($event)" maxlength="10">
                            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
                    <div class="col-lg-12 mt-4" formArrayName="dgUsers">
                    <div class="row" *ngFor="let quantity of dgUsers().controls; let i=index" [formGroupName]="i">
                        <div class="col-lg-3 pr-lg-0">
                            <div class="form-group grp grp_det">
                                <label>User</label>
                                <input type="text" class="form-control" formControlName="user1">
                                <!-- <small class="errormessage" *ngIf="popupForm.controls.user.hasError('maxlength')">
                                    You have reached your maximum limit of characters allowed for User Name
                                </small> -->
                            </div>
                            <!-- <div class="form-group grp grp_det">
                               <input type="text" class="form-control" >
                           </div>
                           <div>
                               <img src="assets/images/Add-User.png">
                           </div> -->
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group grp grp_det">
                                <label>Position</label>
                                <div class="dash">
                                    <select class="form-control" formControlName="position1">
                                        <option value="">Select Position</option>
                                        <option>Controller</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="form-group grp grp_det">
                               <div class="dash">
                                  <select class="form-control"><option>CFO</option></select>
                               </div>
                           </div> -->
                        </div>
                        <div class="col-lg-3 pl-lg-0">
                            <div class="form-group grp grp_det">
                                <label>Email</label>
                                <input type="text" class="form-control" formControlName="email1" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$">
                                <!-- <small class="errormessage" *ngIf="popupForm.controls.email.hasError('pattern')">
                                    Invalid Email Address
                                </small> -->
                            </div>
                            <!-- <div class="form-group grp grp_det">
                               <input type="text" class="form-control" >
                           </div> -->
                        </div>
                        <div class="col-lg-3 pl-lg-0">
                            <div class="form-group grp grp_det">
                                <label>Phone</label>
                                <input type="text" class="form-control" formControlName="phone1" (keypress)="allowNumbers($event)" maxlength="10">
                            </div>
                            <!-- <div class="form-group grp grp_det">
                               <input type="text" class="form-control" >
                           </div> -->
                        </div>
                        <img src="../../../../assets/assets/Images/remove-icon.png" style="width: 35px;margin: 25px 0 0 9px;" (click)="userRemove(i)">
                    </div>
                   
                </div>
                    <div>
                       
                        <img src="../../../../assets/images/Add-User.png"  (click)="addUser()">
                    </div>
                    <div style="margin-top: 10px;">
                    
                    <td>
                        <button type="submit" class="button" (click)="postUser()">Save</button>
                    </td>
                </div>
                </form>
            </div>
        </div>
    </div>
   </div>
</div>