<div class="popup">
  <div class="header">
    <h4 class="poptitle">Change Password</h4>

     
  </div>
<form>

  <div class="form-group">
    

    <label>Current Password</label>
    <div class="form-group">
      <input type="text" placeholder="Current Password" class="form-control">
    </div>
    <label>New Password</label>
    <div class="form-group">
      <input type="text" placeholder="New Password"class="form-control">
    </div>
    <label>Confirm Password</label>
    <div class="form-group">
      <input type="text" placeholder="Confirm Password" class="form-control">
    </div>

  </div>
  <div>
    <td>
      <button type="button" class="btn btn-outline-dark popupsave" >Save</button>
    </td>
    
    <td>
      <button type="button" class="btn btn-outline-dark popupsave" (click)="closeDialog()" >Cancle</button>
    </td>
    
  </div>
  
</form>
</div>