<div>
    <div class="dashboard_bg">
        <app-header></app-header>
        <div class="container-fluid pt64">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 collapse show d-md-flex bg-dark px-0 min-vh-100 nav" id="sidebar">
                    <app-left-panel class="w-100"></app-left-panel>
                </div>
                <div class="col-9 pt-3" *ngIf="gridpnl">



                    <div class="content_body">
                        <form [formGroup]="SearchDealerForm">
                            <table style="width: 1000px; float: left;">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td style="vertical-align: top;">
                                            <table class="gridheader">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 462px; font-weight: bold;">
                                                            <div style="float: left">
                                                                <div class="getuser">
                                                                    <label class="getuserlabel">Dealer Users</label>
                                                                </div>
                                                                <div class="AddIcon">
                                                                    <a (click)="showAddPanel()">
                                                                        <img src="assets/Images/brand_plus.png">
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </th>
                                                        <th style="width: 500px; text-align: center">
                                                            <div style="float: left">
                                                            </div>
                                                        </th>
                                                        <th style="width:10%; text-align: center" colspan="2">
                                                            <th style="width:10%; text-align: center" colspan="2">
                                                                <div style="width: 80px; cursor: pointer" (click)="atoZClick()">
                                                                    <div class="DivAZ1">A - Z</div>
                                                                    <div class="DivAZ2">
                                                                        <a>
                                                                            <img src="assets/Images/sorting_img.png">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th style="padding-left: 0px;">
                                                                <div class="search">
                                                                    <input type="text" formControlName="txtSearch" placeholder="Search" autofocus (keyup)="onSearch()">
                                                                </div>
                                                                <div style="float: right; margin-top: -22px; margin-right: 6px;">
                                                                    <img src="assets/Images/Search-Icon.png">
                                                                </div>
                                                            </th>


                                                    </tr>
                                                </thead>
                                            </table>
                                            <div class="row" *ngIf="atozFltr" style="height: 50px; margin-bottom: 10px">
                                                <div style="width: 100%">
                                                    <app-atoz-filter (onAlphaClick)="onAlphaCatch($event)"></app-atoz-filter>
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="login-container">
                                                    <form [formGroup]="dealerForm" (ngSubmit)="onSubmit()">
                                                        <div>
                                                            <div class="form-group  drop_dwn">
                                                                <select formControlName="dealer" [ngModel]="defaultdealer" id="drop" (change)="getid($event)">
                                                                    <!-- <option value="">Select Dealer</option> -->
                                                                    <option *ngFor="let d of dealerNames" [value]="d.dealer_id">{{d.dealer_name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div>
                                                            <input type="button" value="Search" class="btnsearch" (click)="display()">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div>
                                                <table class="dashboard">
                                                    <thead>
                                                        <tr class="colHeader" style="width: 100%;">
                                                            <th style="width: 1%"></th>
                                                            <th align="center" scope="col" style="width: 15%; text-align: left">
                                                                Dealer Image
                                                            </th>
                                                            <th align="center" scope="col" style="width: 12%; text-align: center">
                                                                Name
                                                            </th>
                                                            <th align="center" scope="col" style="width: 45%; text-align: center">
                                                                Email
                                                            </th>
                                                            <th align="center" scope="col" style="width: 20%; text-align: center">
                                                                Status
                                                            </th>

                                                            <th scope="col" style="width: 37px">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div class="col-md-8" style="padding-left: 0px">
                                                    <div class="contentss">
                                                        <table class="dashboard">
                                                            <tbody>

                                                                <ng-container *ngIf="dealerUsersArry | alphaFilter : alphaSrch: alphaColumns :'aa' as DealerData; else noItems">

                                                                    <tr *ngFor="let item of DealerData">

                                                                        <td style="width: 120px;">
                                                                            <div style="text-align: center;">
                                                                                <img src="{{imagebinding}}{{item.Du_Image}}" height="100" width="100" onerror="this.src='../../assets/Images/default.png'">
                                                                                <!-- <img src="http://niapi.local.com/api/resources/Images/{{item.Du_Image}}"   height="100"  width="100"  > -->

                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div style="margin-left: 30px;">
                                                                                <span>
                                                                                    <div class="gridname"> {{item.Du_First_Name}} {{item.Du_Last_Name}}</div>
                                                                                    <br>

                                                                                    <div class="RoleName"> {{item.rolename}}</div>
                                                                                </span>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div style="text-align: left;">
                                                                                <span style="font-size: 15px;margin-right: 100px;">{{item.Du_Login_Id}}</span>
                                                                                <!-- <a href="http://devadmin.netimpact.com/OEMGroups">logged in</a> -->

                                                                            </div>
                                                                        </td>
                                                                        <td *ngIf="item.Du_Status === 'Y'; else elseBlock" style="width: 100px">
                                                                            <div class="Active">
                                                                                <span style="text-align: left;margin-right: 70px;">Active</span>
                                                                            </div>
                                                                        </td>

                                                                        <ng-template #elseBlock>
                                                                            <td style="width: 100px">
                                                                                <div class="InActive">
                                                                                    <span style="text-align: left;margin-right: 70px;">Inactive</span>
                                                                                </div>
                                                                            </td>
                                                                        </ng-template>

                                                                        <td>
                                                                            <a (click)="editBrand(item)" style="cursor: pointer;">
                                                                                <img src="assets/Images/edt_icon.png">
                                                                            </a>
                                                                        </td>
                                                                    </tr>

                                                                    <ng-container *ngIf="!DealerData.length && hide" [ngTemplateOutlet]="noItems"></ng-container>
                                                                </ng-container>
                                                                <ng-template #noItems>
                                                                    <tr>
                                                                        <td colspan="9" style="text-align: center;">No Dealers Available!</td>
                                                                    </tr>
                                                                </ng-template>
                                                            </tbody>

                                                        </table>
                                                        <div>{{result}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="col-9 pt-3 ml-3 mt-3 contentpanel_bg" *ngIf="Addeditpnl">
                    <div class="ml-4">
                        <form [formGroup]="dshipForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="FirstName" autofocus>
                                        <div *ngIf="!dshipForm.controls.FirstName.valid && (dshipForm.controls.FirstName.dirty||submitted)" class="error">
                                            <div *ngIf="dshipForm.controls.FirstName.errors.required">First Name is required</div>
                                            <div *ngIf="dshipForm.controls.FirstName.errors.pattern">First Name is invalid</div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="LastName">
                                    </div>
                                    <div *ngIf="!dshipForm.controls.LastName.valid && (dshipForm.controls.LastName.dirty||submitted)" class="error">
                                        <div *ngIf="dshipForm.controls.LastName.errors.required">Last Name is required</div>
                                        <div *ngIf="dshipForm.controls.LastName.errors.pattern">Last Name is invalid</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-1">

                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Gender</label>
                                        <select class="form-control" formControlName="Gender">
                                            <option value="">Select Gender</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                        <div *ngIf="!dshipForm.controls.Gender.valid && (dshipForm.controls.Gender.dirty||submitted)" class="error">
                                            <div *ngIf="dshipForm.controls.Gender.errors.required">Gender is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Job Title</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="JobTitle">
                                    </div>

                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Email Id</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="loginId">
                                        <div *ngIf="!dshipForm.controls.loginId.valid && (dshipForm.controls.loginId.dirty||submitted)" class="error">
                                            <div *ngIf="dshipForm.controls.loginId.errors.required">Email Id is required</div>
                                            <div *ngIf="dshipForm.controls.loginId.errors.pattern">Must be a valid EmailId</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Password</label>
                                        <input type="password" class="form-control" maxlength="50" formControlName="Password">

                                    </div>
                                </div>
                            </div>

                            <div class="row pt-1">

                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Date of Joining</label>
                                        <input type="date" class="form-control" maxlength="50" formControlName="DateofJoining">
                                    </div>

                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Date of birth</label>
                                        <input type="date" class="form-control" maxlength="50" formControlName="Dob">
                                    </div>

                                </div>
                            </div>


                            <div class="row pt-1">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Address1</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="Address1">

                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Address2</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="Address2">
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-1">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>City</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="City">

                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>State</label>
                                        <select class="form-control" formControlName="State">
                                            <option value="">Select State</option>
                                            <option *ngFor="let i of getstates.response" [value]="i.sg_id">{{i.sg_name}}</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Zip Code</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="Zip">

                                    </div>

                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" maxlength="50" formControlName="Phone">
                                    </div>

                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>Role</label>

                                        <select class="form-control" formControlName="Role">
                                            <option value="">Select Role</option>
                                            <option *ngFor="let r of rolesArray" [value]="r.Role_UniqId">{{r.Role_Name}}</option>
                                        </select>

                                        <div *ngIf="!dshipForm.controls.Role.valid && (dshipForm.controls.Role.dirty||submitted)" class="error">
                                            <div *ngIf="dshipForm.controls.Role.errors.required">Role is required</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="formgroup grp grp_det">
                                        <label>DealarShip</label>

                                        <select class="form-control" formControlName="dealeruser">
                                            <option value="">Select DealerShip</option>
                                            <option *ngFor="let d of dealerNames" [value]="d.dealer_id">{{d.dealer_name}}</option>
                                        </select>
                                        <div *ngIf="!dshipForm.controls.dealeruser.valid && (dshipForm.controls.dealeruser.dirty||submitted)" class="error">
                                            <div *ngIf="dshipForm.controls.dealeruser.errors.required">Dealer User is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="display: flex; margin: 1% 0 0 5%;">
                                    <div class="form-group" style="margin-left: -57px;margin-top: 35px;">
                                        <img src="assets/Images/Upload-Icon.png" style="cursor: pointer;" (click)="selectFile.click()">


                                        <input style="display:none;height: 70px;width: 148px;margin-top: 18px;" type="file" name="image" formControlName="fileUpload"
                                            (change)="fileChangeEvent($event)" #selectFile />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button *ngIf="proimg" class="fa fa-times" aria-hidden="true" style=" float: right;" (click)="removeimg()">
                                                    <img width="3px" height="5px" src="assets/Images/cancelicon.png">
                                                </button>
                                                <div style="width:150px" *ngIf="selecteimage">
                                                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4" [resizeToWidth]="128"
                                                        [resizeToHeight]="128" format="png" (imageCropped)="imageCropped($event)"
                                                        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>


                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                &nbsp;
                                                <img [src]="proimg" style="width:150px ;margin-top: 6%;" />
                                            </div>
                                        </div>



                                        <!-- <div class="image-preview" *ngIf="previewUrl">
                            <img [src]="previewUrl" class="userpro" (error)="onImgError($event)" />
                        </div> -->
                                        <!-- <img [src]="croppedImage" style="width:150px"/> -->
                                    </div>



                                </div>
                            </div>

                            <div class="row pt-1" *ngIf="chkstatus">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="status">Status</label>
                                        <input type="checkbox" formControlName="status">
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 4%;">
                                <div class="col-sm-1">
                                </div>

                                <div class="col-lg-12 pt-lg-5 pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <button type="submit" class="savebutton">Save</button>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="button" class="savebutton" (click)="Cancel();">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>