.invtry{


  .login-container div{
    float: left;
  }
  
  
  .drop_dwn {
    width: 85%;
    height: 24px;
    float: right;
    border: 1px solid #577f63;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 50px 2% 0;
  }

  .drop_dwn select::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f3f3f;
  }
  
  
  .drop_dwn select::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    background-color: #00a453;
    border-radius: 3px;
  }
  
   
  .login-container{
    float: right;
    width: 100%;
    // margin:0 auto;
   
  }

  .fltrSelect{
    width:100%;height: 50px;padding-top: 10px;
  }

  .dashboard{
    border-collapse: collapse;
    font-size: 12px;
    color: #333333;
    width: 99%;
    display: table;
  }

  .dashboard_bg {
    width: 100%;
    height: auto;
    background: url(../../../assets/images/bg.jpg) no-repeat bottom center;
    background-size: 100% 100%, cover;
  }

  
.dashboardHeader{
    border-collapse: collapse;
   font-size: 14px;
   font-family: "Roboto-Regular";
   width: 100%;
   display: table;
   margin: .8rem 0px;
   margin-top: 3%;
   display: none;
 }
 
 
 .dashboard th{
   background-color: #323840;
   height: 20px;
   padding: 10px 10px;
   color: #00a453;
   text-transform: uppercase;
  
 }
 .dashboard tbody tr:nth-child(odd){
   background: #373636;
   color: #fff;
 }
 
 .dashboard tbody tr:nth-child(even){
   background: #4b4a4a;
   color: #fff;
 }
 .dashboard td{
     height: auto;
     padding: 10px 10px;
     font-size: 16px;
     text-align: left;
 }
 
 .contentss{
   width: 102%;
   height:400px;
   overflow-x: hidden;
 }
 
 .contentss::-webkit-scrollbar {
   width: 5px;
   height: 8px;
   background-color: #3f3f3f;
 }
 
 
 .contentss::-webkit-scrollbar-thumb {
   width: 5px;
   height: 8px;
   background-color: #00a453;
   border-radius: 3px;
 }
 
 
 
 .gridheader{
   width: 100%;
   border-collapse: collapse;
   font-size: 12px;
   text-align: left;
   background-image: linear-gradient(to right,#313030, #626060);
   //margin-bottom: 3%;
 }
 
 .gridheader th{
   padding: 1rem;
   margin-bottom: 1rem;
 }
 
 .getuser{
   padding:0px 2px; margin: 0px 2px; text-align: right; text-decoration-color: white; width: auto; height: 20px; float: left;
 }
 .getuserlabel{
   margin-bottom: .0rem; font-size: 18px; font-weight: 500; margin-left: 5%;
 }
 
 .Active{
   color: green;
 }
 
 .InActive{
   color: red;
 }

 td{
     text-align: center;
     width:50%;
 }

 th{
  text-align:left;
  font-size: 16px;
  width:50%;
}

.txtVin{
  height:25px;
  font-size:13px;
  font-weight: 400;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5px;
  width:175px;
  text-align: center;
}

// .img-fluid{
//   width:50px;
//   height: 20px;
// }

.search input{height: 24px; padding: 5px 5px 5px 10px; outline: none; border-radius: 3px 0 0 3px; border: none;font-size: 12px;}
.search input::placeholder{color: #ccc;}
.search .btn{height: 24px; padding:0 10px 0 5px; background: #fff; border-radius: 0 3px 3px 0; border: none;}

}