
<div class="content_body">
    <table style="width: 1250px; float: left;">
        <tbody>
            <tr>
                <td style="width: 2px;vertical-align: top;">
                    <div class="lft_panel">
                        <div class="brand_link">
                            <div class="divp_styles">Get Styles</div>                         
                                <form #monForm="ngForm" (ngSubmit)="OnSubmit()">
                                    <div class="form-group">                                       
                                        <select class="form-control" style="height: calc(1.50rem + 5px);font-size: 11px;" id="Brand" [ngModel]="BrandContant" (change)="synchroMembre($event,'B');" required name="Brand">
                                            <option [value]="0">Select Brand</option>
                                          <option *ngFor="let Bnd of Brands.response" [value]="Bnd.brand_chrome_id">{{ Bnd.brand_name }}</option>
                                        </select>
                                        <small class="errormessage" style="color: #dc3545;" *ngIf="Band">Brand is required</small>
                                  </div>                              
                                     <div class="form-group">
                                        <select class="form-control" style="height: calc(1.50rem + 5px);font-size: 11px;" id="Year" [(ngModel)]="YearContant" (ngModelChange)="synchroMembre($event,'Y')" required name="Year">        
                                          <option *ngFor="let Yrs of Years" [value]="Yrs.value">{{Yrs.Year}}</option>
                                        </select>
                                        <small class="errormessage" style="color: #dc3545;" *ngIf="Yar">Year is required</small>
                                  </div>
                                  <div class="form-group">
                                      <select class="form-control" style="height: calc(1.50rem + 5px);font-size: 11px;" id="Model" [(ngModel)]="ModelContant" required name="Model">
                                        <option [value]="0">Select Model</option>
                                        <option *ngFor="let Mod of Models.response" [value]="Mod.modelCode">{{Mod.modelName}}</option>
                                      </select>
                                      <small class="errormessage" style="color: #dc3545;" *ngIf="Mdel">Model is required</small>
                                  </div>
                                  <input type="submit" value="Search" style="width: 100%;background-color: #577f63;">
                                </form>
                        </div>
                        <div class="clear"></div>
                        <div class="style_statistics">
                            <div class="statistics">Statistics</div>
                            <div class="countdiv">
                                <table class="countable">
                                    <tbody>
                                        <tr>
                                            <td class="firsttd">Styles</td>
                                            <td class="secondtd">
                                                <label class="lblcount">{{StylesCount}}</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <table class="gridheader">
                        <thead>
                            <tr>
                                <th style="width: 462px; font-weight: bold;">
                                    <div style="margin-top: 6px; float: left">
                                        <div class="getdiv">
                                            <label class="getlabel">Get</label>
                                        </div>
                                    </div>
                                    <div class="getstylediv">
                                        <label class="getstylelbl">Styles</label>
                                    </div>
                                </th>
                                <th style="width: 500px; text-align: center">
                                    <div style="float: left">
                                    </div>
                                </th>

                                <th style="width: 30px; text-align: center" colspan="2">
                                   </th>
                            </tr>

                        </thead>
                    </table>
                    <div *ngIf="GridView" style="margin: 5px 12px;">
                       <table class="dashboard">
                        <thead>
                            <tr class="colHeader">
                                <th style="width:6%;"></th>
                                <th align="center" scope="col" style="width: 41%;">
                                   Style
                                </th>
                                <th align="center" scope="col" style="width: 30%;">
                                    marketclass
                                </th>
                                <th align="center" scope="col" style="width: 18%;">
                                    trim
                                </th>
                                <th align="center" scope="col" style="width: 18%;">
                                    consumerfriendlystylename
                                </th>                               
                                 <th align="center" scope="col" style="width: 9%;"></th>
                            </tr>
                          </thead>
                       </table>
                       <div class="col-md-8" style="padding-left: 0px;">
                        <div  class="contents">
                            <table class="dashboard">
                                <tbody>
                                    <tr *ngFor="let list of Styles.response">
                                        <td style="width: 21%;">{{list.stylename}}</td>
                                        <td style="width: 26%;">{{list.marketclassname}}</td>
                                        <td style="width: 18%;text-align: center;">{{list.trimname =="" ? '--' : list.trimname }}</td>
                                        <td style="width: 25%;">{{list.consumerfriendlystylename}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>   
                    </div>               
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
