<div class="container">
    <form [formGroup]="forgotpwdForm"  (ngSubmit)="OnSubmit()">
        <!-- <h2 style="float: center;color: whitesmoke;">{{modalTitle}}</h2> -->
        <i class="fa fa-times-circle-o  closefaicon" (click)="close()" aria-hidden="true" title="close"></i>
        <div class="form-group">
            <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"> -->
                <input type="email" class="form-control" placeholder="Email Address" formControlName="forgotemail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$">
                <small class="errormessage" *ngIf="forgotpwdForm.controls.forgotemail.hasError('pattern')">
                    Invalid Email Address
                </small>
            <!-- </div> -->
        </div>
        <div class="form-group">
            <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"> -->
                <button class="savebutton">
                    Send Password</button>
            <!-- </div> -->
        </div>
    </form>
</div>