.fa_custom {
  color: 
white
  }
  .closefaicon {
  font-size: 20px;
  // margin-top: 5px;
  // float: right;
  cursor: pointer;
}
.errormessage {
    color: red; 
    // text-align: left;
    font-size: 12px;
   }
   
   .savebutton {
    background: #00a453;
    border: 1px solid #00a453;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 50%;
    margin-left: 25%;
   }

   .container{
    background-color: black;    
    height: auto;
    padding: 16px 20px;
    margin-top: 3%;
}
.mat-dialog-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f3f3f;
  }
 
  
//   .mat-dialog-container::-webkit-scrollbar-thumb {
//     width: 5px;
//     height: 8px;
//     background-color: #00a453;
//     border-radius: 3px;
//   }